/* Your styles here */
body {
  font-family: Arial;
  background: #eef2f7;
  transition: 0.3s;
}

body.dark {
  background: #121212;
  color: white;
}

.app {
  width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
}

body.dark .app {
  background: #1e1e1e;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}